<Connector
        protocol="org.apache.coyote.http11.Http11NioProtocol"
        port="8443" maxThreads="200"
        scheme="https" secure="true" SSLEnabled="true"
        keystoreFile="${user.home}/.keystore" keystorePass="cmpe172"
        clientAuth="false" sslProtocol="TLS" sslEnabledProtocols="TLSv1.2"/>