<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Welcome to Spring Cashier Application</title>
  <link rel="stylesheet" th:href="@{/login.css}" />
</head>

<body>

<div id="wrapper">

  <div id="header">
    <br />
    <p align="center"> <img th:src="@{/images/starbucks.jpg}" width="385" height="316"/></p>
    <br />
  </div> <!--<div id="header">-->

  <div id="content">
    <form th:action="@{/login}" method="post">
      <fieldset>
        <label>Username</label>
        <input type="text" class="loginInput" size="20" name="username"><br />
        <label>Password</label>
        <input type="password" class="loginInput" AUTOCOMPLETE="off" size="20"
               name="password">
        <br/>
        <br/>
        <p class="submit"><input type="submit" value="Login" name="Login"></p>
      </fieldset>
    </form>
    <br />
    <br />
  </div > <!--<div id="content">-->

  <div id="footer">
  </div> <!--<div id="footer"> -->

</div> <!--<div id="wrapper"> -->
</body>
</html>