
<html lang="en">
<head>
    <title>Starbucks Reserved</title>

    <script type="text/javascript">
        function selectedStore() {
            const reg = document.getElementById("register").value;

            // Send the selected register value to the server
            // Database Response Debugger
            fetch('/selectedStore?action=setSelectedStore&register=' + encodeURIComponent(reg), {
                method: 'POST',
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Success:', response);
                    } else {
                        console.error('Error:', response);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });

            switch(reg) {
                case "5012349":
                    document.getElementById("stores").options[0].selected=true
                    break;
                case "1287612":
                    document.getElementById("stores").options[1].selected=true
                    break;
                case "6498234":
                    document.getElementById("stores").options[2].selected=true
                    break;
                case "7812386":
                    document.getElementById("stores").options[3].selected=true
                    break;
                case "8723098":
                    document.getElementById("stores").options[4].selected=true
                    break;
                case "9621043":
                    document.getElementById("stores").options[5].selected=true
                    break;
                case "1393478":
                    document.getElementById("stores").options[6].selected=true
                    break;
                default:
                    document.getElementById("stores").options[0].selected=true
            }
        }
        function submitForm(action) {
            const hiddenAction = document.getElementById("action");
            hiddenAction.value = action;

            // Set the values for the drink, milk, and size parameters based on user selections
            // For example, you can use hardcoded values or get them from other elements on the page
            const drinkInput = document.getElementById("drink");
            const milkInput = document.getElementById("milk");
            const sizeInput = document.getElementById("size");

            drinkInput.value = "coffee"; // replace with the actual value based on user selection
            milkInput.value = "whole";   // replace with the actual value based on user selection
            sizeInput.value = "medium";  // replace with the actual value based on user selection

            const form = document.getElementById("mainForm");
            form.submit();
        }
    </script>

</head>

<body onload="selectedStore()">

<h1 align="center">Welcome to Starbucks Reserved (Docker Demo)</h1>

<!-- FORM SECTION -->

<form name="form" th:object="${command}" method="post" action="" id="mainForm">

    <input type="hidden" name="register" id="register" th:field="*{register}"/>
    <input type="hidden" name="state" id="state" th:field="*{state}"/>
    <input type="hidden" name="ts" id="ts" th:field="*{timestamp}"/>
    <input type="hidden" name="hash" id="hash" th:field="*{hash}"/>
    <input type="hidden" name="action" id="action" th:field="*{action}"/>
    <input type="hidden" name="drink" id="drink" />
    <input type="hidden" name="milk" id="milk" />
    <input type="hidden" name="size" id="size" />

    <p>
    <div align="center">
        <label for="message"></label><textarea readonly id="message" name="message"
                                               cols="50" rows="13" th:text="${message}"></textarea>
    </div>

    <div align="center">
        <label for="stores">Select Store:</label>
        <select name="stores" id="stores">
            <option value="5012349">Dub-C</option>
            <option value="1287612">P-Town</option>
            <option value="6498234">The City</option>
            <option value="7812386">Eso</option>
            <option value="8723098">The Dro</option>
            <option value="9621043">Mateo</option>
            <option value="1393478">Deadwood</option>
        </select>
    </div>

    <br/>

    <p align="center"><img src="/images/starbucks.jpg" alt=""></p>

    <br/>

    <p align="center">
        <button type="button" name="btnGetOrder" id="btnGetOrder" onclick="submitForm('Get Order')">Get Order</button>
        <button type="button" name="btnPlaceOrder" id="btnPlaceOrder" onclick="submitForm('Place Order')">Place Order</button>
        <button type="button" name="btnClearOrder" id="btnClearOrder" onclick="submitForm('Clear Order')">Clear Order</button>
    </p>

</form>

<!-- END FORM SECTION -->

<br/>
<br/>

<div align="center">
    <pre>Hash:  <span th:text="${hash}"></span></pre>
    <pre>Server Host/IP:  <span th:text="${server}"></span></pre>

    <!-- LOGOUT SECTION -->
    <div class="center">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

</div>

<br/>
<br/>

</body>
</html>