<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <title>Starbucks Cashier App</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1 class="text-center mt-2">Welcome to Starbucks Reserved (Docker Demo)</h1>

    <!-- Starbucks Section -->
    <form name="form" th:object="${command}" method="post" action="#" th:action="@{/}">

        <input type="hidden" name="state" id="state" value="{{state}}"/>
        <input type="hidden" name="ts" id="ts" value="{{ts}}"/>
        <input type="hidden" name="hash" id="hash" value="{{hash}}"/>


        <div class="form-group">
            <label for="message"></label>
            <textarea name="message" class="form-control" rows="9" readonly id="message"
                      th:text="${message}"></textarea>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="register">Select Store:</label>
                <select name="register" id="register" class="form-control" th:field="*{register}">
                    <option value="5012349">Dub-C (5012349)</option>
                    <option value="1287612">P-Town (1287612)</option>
                    <option value="6498234">The City (6498234)</option>
                    <option value="7812386">Eso (7812386)</option>
                    <option value="8723098">The Dro (8723098)</option>
                    <option value="9621043">Mateo (9621043)</option>
                    <option value="1393478">Deadwood (1393478)</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="drink">Select Drink:</label>
                <select name="drink" id="drink" class="form-control" th:field="*{drink}">
                    <option value="Caffe Latte">Caffe Latte</option>
                    <option value="Caffe Americano">Caffe Americano</option>
                    <option value="Caffe Mocha">Caffe Mocha</option>
                    <option value="Espresso">Espresso</option>
                    <option value="Cappuccino">Cappuccino</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="size">Select Size:</label>
                <select name="size" id="size" class="form-control" th:field="*{size}">
                    <option value="Short">Short</option>
                    <option value="Tall">Tall</option>
                    <option value="Grande">Grande</option>
                    <option value="Venti">Venti</option>
                    <option value="Your Own Cup">Your Own Cup</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="milk">Milk Type:</label>
                <select name="milk" id="milk" class="form-control" th:field="*{milk}">
                    <option value="Whole">Whole</option>
                    <option value="Soy">Soy</option>
                    <option value="Nonfat">Non-fat</option>
                    <option value="Almond">Almond</option>
                    <option value="2%">2%</option>
                </select>
            </div>
        </div>

        <br/>

        <div class="text-center" style="margin-top: 20px; padding: 10px;">
            <input type="submit" name="action" id="btnGetOrder" value="Get Order" class="shadow-lg btn btn-primary m-2">
            <input type="submit" name="action" id="btnPlaceOrder" value="Place Order" class="shadow-lg btn btn-success m-2">
            <input type="submit" name="action" id="btnClearOrder" value="Clear Order" class="shadow-lg btn btn-danger m-2">
            <a href="/login" class="shadow-lg btn btn-secondary m-2">Log out</a>
        </div>

        <div class="text-center" id="logo-style"><img src="/images/starbucks-logo.png" alt="starbucks logo"></div>


        <div class="text-center" style="margin-top: 10px">
            <pre>Hash:  <span th:text="${hash}"></span></pre>
            <pre>Server Host/IP:  <span th:text="${server}"></span></pre>
        </div>

    </form>
</div>
</body>
</html>
